{% extends 'inno_user/base.html' %}
{% block css %}
<!-- css code -->
#r{
    background-color:rgba(0,0,0,0) ;
}
{% endblock %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
    {% for msg in messages %}
	<div class="alert alert-{{ msg.tags }} alert-dismissible fade show w-25 float-left" role="alert">
	  <strong>MESSAGE :</strong> {{request.user}}{{ msg }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
<!-- body html code here -->
    <section class="container row">
    <div class="col-md-12 col-12 mx-auto ">
    <form action="/inno_user/up_video/" method="post"   enctype="multipart/form-data" class="m-5" >
        {% csrf_token %}
        <div class="form-group" class="m-3">
            <input type="hidden" name="vname" value="{{request.user}}"  readonly>
        </div>
        <div class="form-group">
            <input type="text" name="title" placeholder="Post Title..." class="form-control m-2" style="border: none; width:20%" required>
        </div>
        <div class="form-group">
            <input type="file" name="video" placeholder="Upload your post" class="form-control m-2 -small" style="border: none; width:20%; font-size:15px;" required>
        </div>
        <div class="form-group">
            <input type="text" name="desc" placeholder="Description of your post"class="form-control m-2 " style="border: none; width:20%" required>
        </div>
        <div class="row">
        <div class="form-group col-1">
            <button type="submit" class="btn btn-primary ">Upload</button> 
        </div> 
        <div class="form-group col-1">
            <a href="/inno_user/dashbord/" class="btn btn-secondary">Dashboard</a>
        </div>
    </div>
    </form>
    </div>
    </section>
    
{% endif %}
{% endblock %}
 
{% block js %}
<!-- js code -->
{% endblock %}